.hover-effect {
    transition: transform 0.3s, box-shadow 0.3s;
}
.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
  }